<div class="wrapper">
  <h1>Log In Here!</h1>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>
<!-- back to home page -->
<form action="/" method="GET">
  <input type="submit" value="Back">
</form>
<footer class="branding">
  <small>&copy; 2020 <strong>GameOrg</strong></small>
</footer>
</div>
